.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin: 160px 0;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
