.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding-top: 2rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 1rem;
}
